{% extends "base.html" %}
{% block content %}

{% for order in orders %}
<section>
    <div class="order-ref"><a href="/orders/{{ order.id }}">Order Ref: {{order.id}}</a></div>
    <div class="name">Name: {{order.name}}</div>
    <div class="phone">Phone: {{order.phone_no}}</div>
    <div class="address">Address: {{order.address}}</div>
    <div class="food-items">Food ordered: {{order.items}}</div> 
    <a href="/orders/{{ order.id }}/edit">Edit</a>
    <form action="/orders/{{ order.id }}/delete" method="POST">
      <input type="submit" value="Delete">
    </form>
</section>
  <br>
{% endfor %}
{% endblock %}
